#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app{
  height: 100%;
  background: url('./images/background.jpg');
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background-color: whitesmoke;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.heading{
  display: flex;
  align-items: center;
  height: 580px;
  font-size: 25px;
  font-family: "League Spartan", sans-serif;
}
.button{
    width: 280px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 50px;
    padding: 10px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.button:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.button:focus {
  outline: none;
}


@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 30%;
  }
}